body {
  margin: 0;
  padding: 0;
}

.list-group,
.searchInput {
  margin-top: 3vw;
}

.bookCard,
.pagination {
  /* margin: 2vw 0vw; */
  margin: 2% 17%;
}

/* .searchInput {
  margin-top: 0.2vw;
} */

.author {
  font-style: italic;
  font-size: 0.9em;
}

.card-text {
  margin: 0;
  padding: 1vw;
}

.card-img {
  height: 46vh;
}

.cart-title {
  margin-bottom: 0 !important;
}

.cardLike {
  border: 2px solid rgb(189, 185, 185);
  border-radius: 40px;
}

.like {
  color: #e41d1d;
  padding-right: 2px;
}

.liked {
  background-color: #e41d1d;
  color: white !important;
}

.btn-success {
  margin-top: 2vw;
}
