body {
  margin: 0;
  padding: 0;
}

.list-group {
  margin-top: 1.5vw;
}

.navbar {
  margin-bottom: 1.5vw;
}

.searchInput {
  margin: 1.5vw 0;
}

.bookCard,
.pagination {
  margin: 2% 17%;
}

.author {
  font-style: italic;
  font-size: 0.9em;
}

.card-text {
  margin: 0;
  padding: 1vw;
}

.card-img {
  height: 260px;
  min-width: 130px;
}

.cart-title {
  margin-bottom: 0 !important;
}

.cardLike {
  border: 2px solid rgb(189, 185, 185);
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s;
}
.cardLike:hover {
  background-color: #ffc4d5;
  border-color: #ffc4d5;
}

.like {
  color: #e41d1d;
  padding-right: 2px;
}

.liked {
  background-color: #e41d1d;
  color: white !important;
}

.btn-success {
  margin-top: 2vw;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding: 15px 0px 15px 15px !important;
}
